@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

:root {
    --primary-color: #1B98E0;
    --secondary-color: #59c3c3;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica, sans-serif;
    --secondary-font: "Amatic SC";
}

.amatic-sc-regular {
    font-family: "Amatic SC", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .amatic-sc-bold {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

img {
    max-width: 100%;
}

header {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

header h1 {
    text-align: center;
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3em;
}

.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: fit-content;
    margin-bottom: 30px;
}

.search {
    display: flex;
    margin: 0 auto;
    width: 40em;
    height: 20px;
    border: black 1.5px solid;
    border-radius: 5px;
}

.searchbtn {
    border: .3px solid black;
    border-radius: 3%;
    background: none;
    cursor: pointer;
    background-image: url("images/61088.png");
    background-size: contain;
    width: 20px;
    height: 20px; 
    background-repeat: no-repeat;
    margin-left: 10px;
}

#randomrecipebtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px auto;
    width: fit-content;
    background: none;
    border: rgb(0, 0, 0, 0.3) 1.5px solid; 
    border-radius: 3px;
    box-shadow: #1B98E0 1px 1px 1px;
}

.recipe-box {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    border: 1px solid rgb(0, 0, 0, 0.3);
    border-radius: 5px;
    margin: 0 auto;
    padding: 10px;
    width: 800px;
}

.recipe-box img {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
    margin: 0;
    padding: 0;
}

.recipe-box h3 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
    font-size: 0.8em;
    font-weight: 400;
    border: 1px solid rgb(0, 0, 0, 0.3);
    height: fit-content;
    width: fit-content;
    margin-left: 10px;
    padding: 2px;
}

.recipe-box h2 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-style: normal;
    font-size: 1.8em;
    color: var(--primary-color);
    min-width: 400px;
    margin-left: 10px;
    top: 10px;
}

.recipe-box h1 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
    font-weight: 200;
    font-style: normal;
    font-size: 1.2em;
    min-width: 400px;
    margin-left: 10px;
}

.recipe-box p {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
    font-size: 1.2em;
    min-width: 400px;
    margin-left: 10px;
    max-width: 140px;
}

.social {
    display: flex;
    float: right;
    align-content: flex-end;
}

footer a {
    font-size: 0.6em;
    color: black;
    text-decoration: none;
}

@media screen and (max-width: 500px) {
    .recipe-box {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: fit-content;
    }

    .recipescontainer {
        text-align: center;
        margin: 0 auto;
        align-items: center;
        width: fit-content;
    }

    .searchbar {
        width: 50%
    }
}

@media screen and (min-width: 500px) and (max-width: 850px) {
    header {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .recipescontainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        align-items: center;
        width: 50%
    }
    .searchbar {
        width: 75%
    }

}