@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");
:root {
    --primary-color: #52489c;
    --secondary-color: #59c3c3;
    --accent-color: #f45b69;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica,sans-serif;
    --secondary-font: Mooli, san-serif;
    }

header {
    background-color: #51489C;
    margin: -38px 0px -10px -10px;
    padding-bottom: 30px;
}

body {
    font-family: var(--primary-font);
    font-size: 1.2em;
    background-color: rgb(226, 226, 226);
}

h1 {
    color: white;
    text-align: center;
    padding: 0.5rem;
    font-size: 3.5rem;
    font-family: var(--secondary-font);
    font-weight: normal;
}

h2 {
    text-align: center;
}

nav a {
    text-decoration: underline;
    color: white;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 50%;
    margin: 0 auto;
}

img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    border: solid white 10px;
    box-shadow: 3px 3px 8px black;
}

footer {
    background-color: #51489C;
    color: white;
    padding-left: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: -50px -90px 0px -10px;
}

@media screen and (min-width: 700px) {
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
        row-gap: 2rem;
        margin: 0 0 5em 5em;
        padding-left: 12em;
        padding-right: 12em;
    }
  }




