@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

:root {
    --primary-color: #52489c;
    --secondary-color: #59c3c3;
    --accent-color: #f45b69;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica, sans-serif;
    --secondary-font: Mooli, sans-serif;
}

header {
    background-color: #51489C;
    margin: -38px -19px -10px -10px;
    padding-bottom: 30px;
    text-align: center;
}

body {
    font-family: var(--primary-font);
    font-size: 1.2em;
    background-color: rgb(226, 226, 226);
}

.viewer {
    display: grid;
    grid-row: 1;
    place-items: center;
    position: fixed;
    justify-content: center;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
}

.viewer img {
    max-height: 80%;
    max-width: 80%;
    border: none;
}

.close-viewer {
    position: absolute;
    top: 180px;
    right: 20px;
    background: transparent;
    color: white;
    font-size: 1.5em;
    border: none;
    cursor: pointer;
    z-index: 1001;
}

.navbarelements {
    display: none;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}

button {
    margin: 0 auto;
    text-decoration: none;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.32em;
    text-align: center;
}

h1 {
    color: white;
    text-align: center;
    padding: 0.5rem;
    font-size: 3.5rem;
    font-family: var(--secondary-font);
    font-weight: normal;
}

h2 {
    text-align: center;
}

nav a {
    text-decoration: underline;
    color: white;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    padding: 0;
}

section {
    display: grid;
    grid-template-columns: 1fr;
}

img {
    object-fit: cover;
    border: solid white 10px;
    box-shadow: 3px 3px 8px black;
}

footer {
    background-color: #51489C;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 450px;
}

/* Media query for screens between 700px and 1000px */
@media screen and (min-width: 700px) and (max-width: 1000px) {
    .viewer {
        padding: 80px;
    }
    .close-viewer {
        display: flex;
        position: absolute;
        top: 140px;
        right: 100px;
        margin: 0 auto;
        border: none;
        cursor: pointer;
        z-index: 1001;
        background: transparent;
        color: white;
        font-size: 1.5em;
    }
    ul {
        flex-direction: row;
        justify-content: space-around;
    }
    section {
        grid-template-columns: 1fr 1fr;
    }
    .gallery {
        grid-template-columns: 1fr 1fr;
        max-width: 900px;
    }
    button {
        display: none;
    }
    .navbarelements {
        display: block;
    }
    footer {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

/* Media query for screens above 1000px */
@media screen and (min-width: 1000px) {
    .viewer {
        padding: 80px;
    }
    .close-viewer {
        display: flex;
        position: absolute;
        top: 80px;
        right: 40px;
        margin: 0 auto;
        border: none;
        cursor: pointer;
        z-index: 1001;
        background: transparent;
        color: white;
        font-size: 1.5em;
    }
    ul {
        flex-direction: row;
        justify-content: space-around;
    }
    section {
        grid-template-columns: 1fr 1fr;
    }
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1350px;
    }
    button {
        display: none;
    }
    .navbarelements {
        display: block;
    }
    footer {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}